:root {
  --primary: #656565;
  --secondary: #ed225d;
  --dark: #353535;
  --light: #ffffff;
}

body {
  color: var(--primary);
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

h1 {
  font-size: 2.4em;
}

p {
  line-height: 1.6em;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  background-color:var(--secondary);
  color: white;
  position: relative;
  display: inline;
  box-shadow: 2px 2px 0 var(--secondary),
              -2px -2px 0 var(--secondary);
}

.wrapper {
  max-width: 900px;
  padding: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.header-text {
  flex: 1 0 auto;
}

.header-logo {
  flex: 0 0;
  width: 203px;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
  }

  .header-text {
    width: 300px;
  }
}
